<div class="jumbotron center">
	<h1>About Us</h1>
	<p>This app was created to serve those who crave the extraordinary, and spread knowledge of how to live the life of your dreams. Be bold, be daring, and let us know what you think!</p>
</div>

