<div>
	<h1> We're here for you </h1>
	<p> Below is a list of resources that include organizations, blogs, ebooks, professionals, online classes, locations, and tools you need to get you fired up and on your way.  Just remember, there's no such thing as a self-made person. </p>
</div>